@page "/taskList"
@using TodoListBlazorWasm.Components;
@if (tasks == null)
{
    <LoadingIndicator></LoadingIndicator>
}
else
{
    <div class="row">
        <TaskSearch OnSearch="SearchTask"> </TaskSearch>
    </div>
    <div class="row mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        Priority
                    </th>
                    <th>
                        Assigne
                    </th>
                    <th>
                        Date
                    </th>
                    <th>
                        Status
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in tasks)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td><Prioritylabel Priority="item.Priority"></Prioritylabel></td>
                        <td>@item.AssigneName</td>
                        <td>@item.CreateDate.ToString("dd/MM/yyy hh:mm")</td>
                        <td><StatusLabel Status="item.Status"></StatusLabel></td>
                        <td>
                            <a href="/taskDetails/@item.Id" class="btn btn-primary">Detail</a>
                        </td>
                        <td>
                            <a href="/taskEdit/@item.Id" class="btn btn-warning">Detail</a>
                            <button class="btn btn-danger" @onclick="()=>OnDeleteTask(item.Id)">Delete</button>
                            
                        </td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
    <Confirmation ConfirmationMessage="Are you sure to Delete"
                  ConfirmationTiTle="DeleteTask"
                  @ref="DeleteConfirmation"
                  ConfirmationChaged="OnConformDateleTask"></Confirmation>
}